# =======================================
# frontend (React)
# =======================================
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# =======================================
# backend (Spring Boot)
# =======================================
backend/.gradle
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

# IDE Settings
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/bin/
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/.vscode/

# Global (루트 폴더에 생성될 수 있는 파일들)
.DS_Store
.vscode/
HELP.md

backend.zip

# 각종 key 파일
application.properties